[Unit]
Description=V2Ray proxy service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/v2ray

[Install]
WantedBy=multi-user.target
